<div class="pure-g">
    <div class="pure-u-1-5">
        <div class='sw-docs-menu'>
            <MenuItems @docTree={{@docTree}} @level={{0}} @clickHandler={{this.changeDoc}}/>
        </div>
    </div>
    <div class="pure-u-4-5">
        <div class='sw-docs-contents'>
            {{this.currentDoc}}
        </div>
    </div>
</div>
