<div class="documentation-container">
  <ReadableWidth>
    <p>This is the README of {{@model.repository}}.  Find the source on <a href={{concat "https://github.com/mu-semtech/" @model.repository "/blob/master/README.md"}}>GitHub</a>.  Pull Requests are always welcome! </p>

    <div class="markdown">
      <MarkdownToHtml @markdown={{@model.markdown}} />
    </div>
  </ReadableWidth>
</div>
