{{#with-route-css-classes}}
  <div class="hero-banner-top">
    <div class="main-hero">
      <div class="background"></div>
      <h1>
        <span></span>
        <span>{{link-to "mu.semte.ch" "index"}}</span>
        <span></span>
      </h1>
      <p class="tagline">
        <span>Semantic Microservices</span>
        <span>Joyous development</span>
        <span>Code reuse on steroids</span>
        <span>Software that lasts for years</span>
        <span>Built on W3C standards</span>
        <span>Used by small and large</span>
        <span>Proven track record</span>
        <span>Merging research into practice</span>
        <span>Fully Open Source</span>
        <span>Hyper buzzword compliant</span>
        <span>Join in on the fun, learn mu.semte.ch</span>
      </p>
    </div>
  </div>

  <div class="after-header">
    {{#animated-container}}
      {{outlet}}
    {{/animated-container}}
  </div>

  <div class="footer">
  </div>
{{/with-route-css-classes}}
