<div class="sw-header">
  <div class="header">
    <div class="search" style="visibility: hidden">
      {{!-- Hide the search since we don't have a search function yet --}}
      <img src="./assets/images/search.png" class="img" alt="Search icon" />
      <div class="text">Search the docs...</div>
    </div>
    <div class="logo">
      <div class="text">SEMANTIC</div>
      <img src="./assets/images/logo.png" class="img" alt="Semantic works" />
      <div class="text">WORKS</div>
    </div>
    <div class="menu">
      <div class="item"><LinkTo @route="docs">Documentation</LinkTo></div>
      <div class="item"><LinkTo @route="tutorial">Tutorial</LinkTo></div>
      <div class="item"><a href="https://mu.semte.ch/">Blog</a></div>
      <div class="item"><a href="https://github.com/mu-semtech/">GitHub</a></div>
    </div>
  </div>
  <div class="slant">
    {{!-- TODO: this should probably become a div with a background image to make it nicely accessible --}}
    {{!-- template-lint-disable require-valid-alt-text --}}
    <img class="img" src="assets/images/slant.png" />
  </div>
</div>
{{outlet}}
<div class='sw-footer'>
  © Copyright 2020 – semantic.works
</div>
