<div class="sw-header">
    <div class="header">
        <div class="search">
            <img src="./assets/images/search.png" class="img">
            <div class="text">Search the docs...</div>
        </div>
        <div class="logo">
            <div class="text">SEMANTIC</div>
            <img src="./assets/images/logo.png" class="img">
            <div class="text">WORKS</div>
        </div>
        <div class="menu">
            <div class="item">Docs</div>
            <div class="item">Tutorial</div>
            <div class="item">Micro-services</div>
            <div class="item">Github</div>
        </div>
    </div>
    <div class="slant">
        <img class="img" src="assets/images/slant.png">
    </div>
</div>
{{outlet}}
<div class='sw-footer'>
    © Copyright 2020 – semantic.works
</div>
