

    <div class="sw-header">
        <div class="header">
            <div class="search">
                <img src="./assets/images/search.png" class="img">
                <div class="text">Search the docs...</div>
            </div>
            <div class="logo">
                <div class="text">SEMANTIC</div>
                <img src="./assets/images/logo.png" class="img">
                <div class="text">WORKS</div>
            </div>
            <div class="menu">
                <div class="item">Docs</div>
                <div class="item">Tutorial</div>
                <div class="item">Micro-services</div>
                <div class="item">Github</div>
            </div>
        </div>
        <div class="slant">
            <img class="img" src="assets/images/slant.png">
        </div>
    </div>

    <div class="pure-g">
        <div class="pure-u-1-5">
            <div class='sw-docs-menu'>
                -  Docs<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+ Sub-category 01<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>-  Sub-category 02</b><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Article01<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>> Article02</b><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Article03<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+ Sub-category 03
            </div>
        </div>
        <div class="pure-u-4-5">
            <div class='sw-docs-contents'>
                <zero-md src="https://raw.githubusercontent.com/mu-semtech/mu-project/master/README.md"></zero-md>
            </div>
        </div>
    </div>

    <div class='sw-footer'>
        © Copyright 2020 – semantic.works
    </div>

