<div class="menu">
  <LinkTo @route="documentation.under-construction" @model="general-ideas">general ideas</LinkTo>
  <LinkTo @route="documentation.templates">microservice templates</LinkTo>
  <div class="submenu menu__templates">
    {{#link-to "documentation.templates.from-repository" "mu-javascript-template"}}mu-javascript-template{{/link-to}}
    {{#link-to "documentation.templates.from-repository" "mu-ruby-template"}}mu-ruby-template{{/link-to}}
    {{#link-to "documentation.templates.from-repository" "mu-python-template"}}mu-python-template{{/link-to}}
    <LinkTo @route="documentation.templates.roll-your-own">roll your own</LinkTo>
  </div>

  <LinkTo @route="documentation.core">core microservices</LinkTo>
  <div class="submenu menu__core-microservices">
    {{#link-to "documentation.core.from-repository" "mu-identifier"}}mu-identifier{{/link-to}}
    {{#link-to "documentation.core.from-repository" "mu-dispatcher"}}mu-dispatcher{{/link-to}}
    {{#link-to "documentation.core.from-repository" "mu-cl-resources"}}mu-cl-resources{{/link-to}}
    {{#link-to "documentation.core.from-repository" "mu-authorization"}}mu-authorization{{/link-to}}
  </div>
  <LinkTo @route="documentation.under-construction" @model="debugging-howto">debugging howtos</LinkTo>
  <LinkTo @route="documentation.under-construction" @model="semantic-models">semantic models</LinkTo>
  <LinkTo @route="documentation.under-construction" @model="cookbooks">cookbooks</LinkTo>
</div>

<div class="documentation-body">
  {{outlet}}
</div>
