<div class="spacer-before"></div>
<div class="content">
  <h1>What?</h1>
  <p>A web microservices framework fully based on web standards, integrated by a Single Page App.</p>

  <h2>Brief overview</h2>
  <p>Microservices integrate by writing to a shared semantic model, allowing them to integrate fully automatically.  Frontend integration is handled by a Single Page App which communicates with common web techonologies to prevent bike-shedding.  Deployment is handled using Docker.  The framework's evolution is driven by a focus on programmer productivity and low application maintenance.</p>

  <h2>Which programming languages?</h2>
  <p>We use a wide variety of programming languages in our day-to-day stack.  Each of them have different characteristics.  Microservice templates exist for Python, JavaScript and Ruby making it very easy to pick these up.  You can also roll your own microservice templates.  Some core components are written in Common Lisp and Elixir.</p>

  <h2>What Single Page App framework</h2>
  <p>Single Page App frameworks are like religions, only they shift faster.  We are of the small sect of EmberJS believers.  EmberJS is used by companies like Apple, Sony, and Microsoft.  The framework is batteries-included, built to last, and offers structures that make it easy to dive into someone else's code.  EmberJS keeps us productive, and ensures our software can run for years.  You could pick something more ephermal if desired.</p>

  <h2>How long is it funded?</h2>
  <p>The stack started out as a pet project of two developers.  It has evolved to be used in many separate projects, governed by separate organizations.  Being based on W3C standards and web community standards ensures the investment to keep the stack running is absolutely minimal.  Progress is financed by various partners in ongoing projects, like Open Source should be.  With the backing of redpencil.io the stack is secured for the coming years.</p>

  <h2>What's the license?</h2>
  <p>Maximum reuse is helped with minimum license requirements.  Code is released under the MIT license whenever possible.  The MIT license is straightforward, simple to understand, and allows for commercial extensions.  In case a base library does not permit the use of the MIT license, a different license may be used.  Check the respective repository.</p>

  <h2>Where is it used?</h2>
  <p>See our page with partners.  The stack is easy to adapt making the users broad.  mu.semte.ch has been used in the for-profit and the non-profit sector.  Both in large bodies like the EU, in small companies like PintaFish, and in medium-sized entities like the Flemish Government.  Commercial projects and research projects have benefitted from using mu.semte.ch.</p>


  {{link-to 'documentation' 'documentation'}}
</div>
<div class="spacer-after"></div>
