    <div class="sw-container">
        <div class="sw-segment">
            <div class="sw-catchy">
                A Micro-Service Framework
                <br>
                Powered By Linked-Data
                <br>
                <br>
                <span class="sw-btn-big-rounded-w">GET STARTED</span><span class="sw-btn-big-rounded-b">GO TO DOCS</span>
            </div>
        </div>

        <div class="sw-segment">
            <div class="pure-g">
                <div class="pure-u-1-3">
                    <div class="sw-info">
                        <p class="header">Microservices fuelled by Linked Data</p>
                        <p class="body">
                            Semantic.works offers a lightweight microservice framework that works in practice. <br>
                            Microservices communicate through a shared semantic model resulting in a maintainable and extendable architecture instead of the typical microservice chaos.
                        </p>
                    </div>
                </div>
                <div class="pure-u-1-3">
                    <div class="sw-info">
                        <p class="header">Microservices fuelled by Linked Data</p>
                        <p class="body">
                            Semantic.works offers a lightweight microservice framework that works in practice. <br>
                            Microservices communicate through a shared semantic model resulting in a maintainable and extendable architecture instead of the typical microservice chaos.
                        </p>
                    </div>
                </div>
                <div class="pure-u-1-3">
                    <div class="sw-info">
                        <p class="header">Microservices fuelled by Linked Data</p>
                        <p class="body">
                            Semantic.works offers a lightweight microservice framework that works in practice. <br>
                            Microservices communicate through a shared semantic model resulting in a maintainable and extendable architecture instead of the typical microservice chaos.
                        </p>
                    </div>
                </div>
            </div>
            <div class="pure-g">
                <div class="pure-u-1-3">
                    <div class="sw-info">
                        <p class="header">Microservices fuelled by Linked Data</p>
                        <p class="body">
                            Semantic.works offers a lightweight microservice framework that works in practice. <br>
                            Microservices communicate through a shared semantic model resulting in a maintainable and extendable architecture instead of the typical microservice chaos.
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="pure-u-1-3">
                    <div class="sw-info">
                        <p class="header">Microservices fuelled by Linked Data</p>
                        <p class="body">
                            Semantic.works offers a lightweight microservice framework that works in practice. <br>
                            Microservices communicate through a shared semantic model resulting in a maintainable and extendable architecture instead of the typical microservice chaos.
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="pure-u-1-3">
                    <div class="sw-info">
                        <p class="header">Microservices fuelled by Linked Data</p>
                        <p class="body">
                            Semantic.works offers a lightweight microservice framework that works in practice. <br>
                            Microservices communicate through a shared semantic model resulting in a maintainable and extendable architecture instead of the typical microservice chaos.
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
            </div>

            <div class="pure-g">
                <div class="pure-u-1-3">
                    <span class="sw-btn-small-b">BUTTON</span>
                </div>
                <div class="pure-u-1-3">
                    <span class="sw-btn-small-w">BUTTON</span>
                </div>
                <div class="pure-u-1-3">
                    <span class="sw-btn-small-r">IMPORTANT</span>
                </div>
            </div>
        </div>

        <div class="sw-segment">
            <div class="sw-catchy">
                Trusted By The Belgian Government And Used In:
                <br>
                <img src='assets/images/clients.jpg' class="sw-img-fill">
            </div>
        </div>

        <div class="sw-segment">
            <div class="pure-g">
                <div class="pure-u-1-2">
                    <div class="sw-info">
                        <p class="header">Lorem ipsum dolor sit amet.</p>
                        <p class="body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in nisi nec lectus semper luctus eget ut nibh. Fusce aliquet at velit eget tempor. Nam ac arcu sem. Nunc dictum, urna ac pellentesque luctus, orci purus consequat dui, lacinia malesuada orci nisl eu ex. Quisque egestas mi sapien. Maecenas placerat sodales gravida. Donec id dui mi.
                            <br>
                            Mauris tempus ultrices leo eu porta. Morbi pulvinar varius nunc, in eleifend lectus vulputate condimentum.
                        </p>
                    </div>
                </div>
                <div class="pure-u-1-2">
                    <div class="sw-info">
                        <p class='sw-file-path'>something/other.file</p>
                        <IvyCodemirror @value={{this.codemirrorValue}} @options={{this.codemirrorSettings}}/>
                    </div>
                </div>
            </div>
            <div class="pure-g">
                <div class="pure-u-1-2">
                    <div class="sw-info">
                        <p class='sw-file-path'>something/other.file</p>
                        <IvyCodemirror @value={{this.codemirrorValue}} @options={{this.codemirrorSettings}}/>
                    </div>
                </div>
                <div class="pure-u-1-2">
                    <div class="sw-info">
                        <p class="header">Lorem ipsum dolor sit amet.</p>
                        <p class="body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in nisi nec lectus semper luctus eget ut nibh. Fusce aliquet at velit eget tempor. Nam ac arcu sem. Nunc dictum, urna ac pellentesque luctus, orci purus consequat dui, lacinia malesuada orci nisl eu ex. Quisque egestas mi sapien. Maecenas placerat sodales gravida. Donec id dui mi.
                            <br>
                            Mauris tempus ultrices leo eu porta. Morbi pulvinar varius nunc, in eleifend lectus vulputate condimentum.
                        </p>
                    </div>
                </div>

            </div>

        </div>


        <div class="sw-segment">
            <div class="sw-catchy">
                Made It This Far?
                <br>
                Why Not Give It a Try...
                <br><br>
            </div>
            <div class="pure-g">
                <div class="pure-u-1-3">
                </div>
                <div class="pure-u-1-3">
                    <div class="sw-terminal">
                        <div class="contents">
                            <span class='cash'>$</span> git clone https://github.com/mu-semtech/mu-project<br><br>

                            <span class='cash'>$</span> cd mu-project<br><br>

                            <span class='cash'>$</span> docker-compose up<br><br>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1-3">
                </div>
            </div>

        </div>

    </div>
